@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}












.mainCard {
  perspective: 100px;
  position: relative;
  cursor: pointer;
}

.backCard {
  transform: rotateY(-180deg); 
}


.backCard,
.frontCard {
  backface-visibility: hidden;
  transition: transform .8s;
  position: absolute;
  inset: 0;
}



.clicked > .frontCard {
  transform: rotateY(180deg); 
}

.clicked > .backCard {
  transform: rotateY(0deg); 
}